version: '3'

services:
  backend:
    build: ./backend
    container_name: mern-backend
    ports:
      - "5000:5000"
    restart: always
    environment:
      - MONGO_URI=mongodb://mongo:27017/mernDB
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mern-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend

  mongo:
    image: mongo
    container_name: mern-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data: